<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChalkBoard</title>
</head>
<link rel="stylesheet" href="class.css">
<body>
  <div class="app-container">
   <%- include('./partial/nav') %>
   <div id="whole-sec">
   <%- include('./partial/sidebar') %>
   </div>
   </div>
</body>
</html>