<div class="top-bar">
            <div class="logo-section">
                <div class="menu-icon"><img src="Menu_Alt_05.svg" alt=""></div>
                <div class="logo">ChalkBoard</div>
            </div>

            <div id="right-side-button">
                <div class="icon-button"><img src="/assets/notification.svg" alt=""></div>
            <div class="icon-button"><img src="/assets/user.svg" alt=""></div>
            </div>
        </div>