<div class="top-bar">
            <div id="right-side-button">
                <div class="icon-button"><img src="/assets/notification.svg" alt=""></div>
            <div class="icon-button"><img src="/assets/user.svg" alt=""></div>
            </div>
        </div>