  <div class="sidebar">
             
            <div class="nav-items">
                <div class="nav-item active" data-tab="home">
                    <div class="nav-icon"><img src="/assets/home.svg" alt=""></div>
                    <div class="nav-text"><a href="/">Home</a></div>
                </div>
                
                <div class="nav-item" data-tab="classes">
                    <div class="nav-icon"><img src="/assets/class.svg" alt=""></div>
                    <div class="nav-text"><a href="/class">Classes</a></div>
                </div>
                
                <div class="nav-item" data-tab="dashboard">
                    <div class="nav-icon"><img src="/assets/dashboard.svg" alt=""></div>
                    <div class="nav-text"><a href="/dashboard">Dashboard</a></div>
                </div>
            </div>
        </div>